/*displayd do tipo "felx" -> deixa um do lado do outro

"pading" -> 1° add espaço em cima e embaixo. 2° direita e esquerda*/

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  /*cores*/
  background-color: #09090a;
  color: white;
}

header {
  /*layout*/
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 48px; /*distâncias*/

  position: fixed;
  width: 95%; /*largura*/
  background-color: #09090a;
}

/*"registrar meu dia"*/
button {
  /*layout borda + espaços entre eles*/
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #8b5cf6;

  /*cores dentro*/
  background-color: transparent;
  color: white;

  /*layout*/
  display: flex;
  align-items: center;
  gap: 12px; /*espaço entre o "+" e o texto*/

  /*fonte de texto*/
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  height: 125%;
}

/* ---------------- Checkeds ---------------*/

/*-----base-----*/
#form-habits {
  display: flex;

  padding: 182px 48px 48px;
  width: fit-content;
}

/*-----emojis-----*/
.habits {
  margin-top: 60px;
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.habit {
  width: 64px;
  height: 64px;

  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----dias da semana-----*/
.days {
  display: flex;
  gap: 48px;
  margin-left: 32px; /*espaçoes entre os dias*/
}

/*-----checks do dia-----*/
.day {
  display: flex;
  flex-direction: column; /*isso deixa um em cima do outro*/
  gap: 24px;
}

/* to pegando a classe e pegando toda a div que tem dentro dessa classe*/
.day div {
  margin-bottom: 8px;

  font-family: "Roboto Mono";
  font-size: 20px;
  line-height: 125%;

  color: #a1a1aa;

  text-align: center;
}

/*-----input básico-----*/
input {
  appearance: none;
  -webkit-appearance: none; /*ela vai funcionar em todos os navegadores*/

  width: 64px;
  height: 64px;

  border: 2px solid #27272a;
  border-radius: 8px;

  background: #18181b;
}

/*input com o checked -> pseudo-selector (esses que tem ":")*/
input:checked {
  background: #8b5cf6;
  border: 2px solid #a78bfa;
}

@media (max-width: 570px) {
  button div {
    display: none;
  }
}
